---
name: validate jsonld

on:
    push:
        branches:
        -   master
    pull_request:
        branches: '*'
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   name: Setup Node
            uses: actions/setup-node@v5
            with:
                node-version: 20.x
        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: 3.11
        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pip setuptools
                pip install pre-commit
                pip install git+https://github.com/Remi-Gau/reproschema-py.git@eCobidas_valid
                pre-commit install
        -   name: validate
            run: make validate
